In [2]:
import pandas as pd
import bar_chart_race as bcr

In [3]:
df = pd.read_csv("file.csv")
df.head()

,Country,Code,Year,"Meat, total | 00001765 || Production | 005510 || tonnes"
0,Bahamas,BHS,1961,1260.7
1,Brunei,BRN,1961,1289.8
2,Qatar,QAT,1961,1769.2
3,Faroe Islands,FRO,1961,0.0
4,Tuvalu,TUV,1961,30.0

In [10]:
df.rename(columns={'Meat, total | 00001765 || Production | 005510 || tonnes': 'Meat production (ton)'}, inplace=True)
teste = df.pivot_table(index=['Year'], columns=['Country'], values=['Meat production (ton)'], aggfunc='sum')
teste.fillna(0, inplace=True)
teste = teste.cumsum(axis=0)
teste = teste['Meat production (ton)'][['Africa (FAO)', 'Americas (FAO)', 'Europe (FAO)', 'Asia (FAO)', 'Oceania (FAO)']]
teste.head()

Country  Africa (FAO)  Americas (FAO)  Europe (FAO)  Asia (FAO)  Oceania (FAO)
Year
1961        3909680.5      26098392.0    30004080.0   9046039.0      2296940.0
1962        7867433.5      52714344.0    61611614.0  18961263.0      4848316.0
1963       11922861.7      80638882.0    94084882.0  30649525.0      7530567.5
1964       16135575.7     109518262.0   125329304.0  43938966.0     10312095.5
1965       20478816.2     138405414.0   159326728.0  58368594.0     13112784.5

In [11]:
bcr.bar_chart_race(teste, figsize=(4, 2.5), title='Produção de carne', n_bars=10, filename='teste.mp4')

/home/naiara/.local/lib/python3.8/site-packages/bar_chart_race/_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
/home/naiara/.local/lib/python3.8/site-packages/bar_chart_race/_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))